<section>
	<div id="tinyslider-carousel">
		{{ range .Params.featuredImage }}
		<div class="item">
			<div>
				{{ if reflect.IsMap . }}
				{{ $image := partial "utils/get-image" (dict "context" $ "url" .image "keyword" .image) }}
				<img class="img-responsive" src="{{ $image }}" alt="{{ .description }}" />
			</div>
					{{ if .description }}
					<p>{{ .description }}</p>
					{{ end }}
				{{ else }}
				{{ $image := partial "utils/get-image" (dict "context" $ "url" . "keyword" .) }}
				<img class="img-responsive" src="{{ $image }}" />
			</div>
				{{ end }}
		</div>
		{{ end }}
	</div>
	<div class="tinyslider-controls">
		<ul class="thumbnails" id="customize-thumbnails">
		{{ range .Params.featuredImage }}
			<li class="item">
				{{ if reflect.IsMap . }}
				{{ $image := partial "utils/get-image" (dict "context" $ "url" .image "keyword" .image) }}
				<img class="img-responsive" src="{{ $image }}" alt="{{ .description }}" width="50px" />
				{{ else }}
				{{ $image := partial "utils/get-image" (dict "context" $ "url" . "keyword" .) }}
				<img class="img-responsive" src="{{ $image }}" width="50px" />
				{{ end }}
			</li>
		{{ end }}
		</ul>
		<ul class="controls" id="customize-controls">
			<li class="prev"><i class="fas fa-angle-left"></i></li>
			<li class="next"><i class="fas fa-angle-right"></i></li>
		</ul>
	</div>
	<script src="{{ printf .Site.Data.assets.tinyslider.js.url .Site.Data.assets.tinyslider.version }}"></script>
	<script>  const slider = tns({
		container: '#tinyslider-carousel',
		items: 1,
		autoplay: false,
		center: true,
		nav: true,
		navContainer: "#customize-thumbnails",
		controlsContainer: "#customize-controls",
		navAsThumbnails: true,
		autoHeight: true,
	  });
	</script>

</section>
