<div
  class="bg-secondary-bg dark:border-tertiary-bg overflow-hidden rounded border transition duration-200 ease-in-out hover:shadow-lg"
>
  {{ $featured := partial "utils/get-featured" . }}
  {{ with $featured }}
    {{ . }}
  {{ end }}
  <div class="prose px-6 pt-6 pb-4">
    <a href="{{ .Permalink }}" class="no-underline">
      <h3 class="mt-0">{{ .LinkTitle }}</h3>
    </a>
    {{ if .Description }}
      {{ .Description | plainify | htmlUnescape }}
    {{ else if .Summary }}
      {{ .Summary | plainify | htmlUnescape }}
    {{ end }}
    {{ partial "components/post-metadata" . }}
  </div>
</div>
