<div class="grid grid-cols-12 gap-4 flex content-center justify-center pt-12 pb-12 pl-32 pr-32">
    <div
        class="col-span-12 lg:col-span-4 flex content-center justify-center lg:justify-start lg:border-r border-gray-300">
        {{ with .Resources.ByType "image" }}
        {{ range . }}
        <img src='{{ .RelPermalink }}' class="h-auto w-6/12 sm:w-4/12 lg:w-10/12 object-contain" />
        {{ end }}
        {{ end }}
    </div>

    <div class="col-span-12 lg:col-span-7 pl-5">
        <div>
            <div class="text-xs font-medium pb-4 pt-4">ABOUT ME</div>
            <div class="text-6xl font-medium pb-2">{{ .Title }}</div>
            <div class="w-3/12 xl:w-2/12 border-b border-gray-400"></div>
            {{ with $.Param "shortContent" }}
            <div class="pt-8 text-lg leading-normal font-medium">
                {{ . }}
            </div>
            {{ end }}
        </div>
    </div>

    <div class="col-span-12 lg:col-span-1 flex lg:flex-col justify-center items-end ">
        {{ $brand := $.Param "social"}}
        {{ range $brand }}
        {{ $src :=  print .icon_pack " fa-" .icon }}
        <div class="pb-2 pr-4 lg:pr-0">
            <i class="{{ print $src }}"></i>
        </div>
        {{ end }}
    </div>
</div>