{{ $experiences := $.Param "experiences" }}
{{ range $experiences }}
    <div class="mb-6">
        <div class="bg-secondary-bg rounded border hover:shadow-lg transition ease-in-out duration-200 px-6 pt-6 pb-4">
            <div class="mb-4">
                <div class="font-bold text-xl">{{ .title }}</div>
                <div class="flex justify-between">
                    <div>
                        <a>{{ .organization | markdownify }}</a>
                        {{if and .organization .location}}
                            <span class="ml-2 mr-2"> · </span>
                        {{end}}
                        <span>{{ .location | markdownify }} </span>
                    </div>
                    <div> {{ .dates | markdownify }}</div>
                </div>
            </div>
                
            <div class="content">
                {{ .writeup | markdownify }}
            </div>
        </div>
    </div>
{{ end }}