{{ range .Params.experiences }}
<div class="mb-6">
  <div class="bg-secondary-bg rounded border hover:shadow-lg transition ease-in-out duration-200 px-6 pt-6 pb-4">
    <div class="mb-4">
      <div class="font-bold text-xl">{{ .title }}</div>
      <div class="flex flex-col md:flex-row md:justify-between">
        <div>
          {{ if .organization.url }}
          <a href="{{ .organization.url }}">{{ .organization.name | markdownify }}</a>
          {{ else }}
          <span>{{ .organization.name | markdownify }}</span>
          {{ end }}

          {{ if and .organization.name .location }}
          <span class="ml-2 mr-2">·</span>
          {{ end }}

          <span>{{ .location | markdownify }} </span>
        </div>
        <div class="flex-shrink-0"> {{ .dates | markdownify }}</div>
      </div>
    </div>

    <div class="content">
      {{ .writeup | markdownify }}
    </div>
  </div>
</div>
{{ end }}