{{ define "main" }}
{{ $hasToc := and (in .TableOfContents "<li>" ) (.Params.toc) }}
{{ $hasSidebar := or ($hasToc) (.Params.series) }}
<div class="grid grid-cols-2 lg:grid-cols-8 gap-4">
    <div
        class="col-span-2 {{ if not $hasSidebar }} {{- print "lg:col-start-2" -}} {{ end }} lg:col-span-6 bg-secondary-bg rounded px-6 py-8">
        <h1 class="font-bold text-3xl text-primary-text">{{ .Title }}</h1>
        {{ partial "post_metadata.html" . }}
        {{ $img := (.Resources.ByType "image").GetMatch "*featured*" }}
        {{ with $img }}
        <img src='{{ .RelPermalink }}' class="object-cover my-4" />
        {{ end }}
        <div class="content">
            {{ .Content}}
        </div>
        {{ with .GetTerms "tags" }}
        {{ partial "post_tags.html" . }}
        {{ end }}
        {{ partial "post_footer.html" . }}
        <div id="commento"></div>
        <script defer src="https://commento.csquare.wang:8079/js/commento.js">
        </script>
    </div>
    {{ if $hasSidebar}}
    <div class="col-span-2">
        {{ if .Params.series }}
        {{ partial "post_series.html" . }}
        {{ end }}
        {{ if $hasToc }}
        {{ partial "post_toc.html" . }}
        {{ end }}
    </div>
    {{ end }}

    {{ $related := .Site.RegularPages.Related . | first 5 }}
    {{ with $related }}
    <div
        class="col-span-2 {{ if not $hasSidebar }} {{- print "lg:col-start-2" -}} {{ end }} lg:col-span-6 bg-secondary-bg rounded p-6">
        <h2 class="text-lg font-semibold mb-4">{{ i18n "seeAlso" }}</h2>
        <div class="content">
            {{ range . }}
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            <br />
            {{ end }}
        </div>
    </div>
    {{ end }}
</div>
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.0.0/build/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{{ if $hasToc }}
<script>enableStickyToc();</script>
{{ end }}
{{ end }}