<!DOCTYPE html>
<html
  lang="{{ .Site.LanguageCode }}"
  dir="{{ .Site.Language.LanguageDirection | default "ltr" }}"
  {{ if eq .Site.Params.colorScheme "dark" }}class="dark"{{ end }}
>
  {{- partial "head" . }}


  <body class="flex min-h-screen flex-col">
    <header
      class="min-h-16 pl-scrollbar bg-secondary-bg fixed z-50 flex w-full items-center shadow-sm"
    >
      <div class="mx-auto w-full max-w-screen-xl">
        {{- partial "header" . -}}
      </div>
    </header>
    <main class="grow pt-16">
      {{- if or .IsHome (and (eq .Type "authors") (eq .Kind "term")) }}
        {{- block "main" . }}{{- end }}
      {{- else }}
        <div class="pl-scrollbar">
          <div class="mx-auto w-full max-w-screen-xl lg:px-4 xl:px-8">
            {{- block "main" . }}{{- end }}
          </div>
        </div>
      {{ end }}
    </main>
    <footer class="pl-scrollbar">
      <div class="mx-auto w-full max-w-screen-xl">
        {{- partial "footer" . -}}
      </div>
    </footer>
  </body>
</html>
