{{ define "main" }}
<article class="mx-6 mb-8">
    <h1 class="font-bold text-3xl text-primary-text">{{.Title}}</h1>
    {{ with .Content }}
    <div class="content">
        {{ . }}
    </div>
    {{ end }}
</article>
{{ range .Paginator.Pages }}
<article class="bg-secondary-bg px-6 pt-8 pb-4 mb-8">
    <h1 class="font-bold text-3xl text-primary-text"><a href="{{ .Permalink }}"
            class="hover:text-eureka">{{ .Title }}</a></h1>
    <div class="content">
        {{ .Summary }}
    </div>
    {{ partial "post_metadata.html" . }}
</article>
{{ end }}
{{ template "_internal/pagination.html" . }}
{{ end }}