/* Custon CSS */
@import url("https://cdn.jsdelivr.net/npm/@fontsource/cascadia-code@4.2.1/index.min.css");

* {
    -webkit-tap-highlight-color: transparent;
}

.pt-2 {
    padding-top: 0.5rem !important;
}

.pl-8 {
    padding-left: 2rem !important;
}
.pr-8 {
    padding-right: 2rem !important;
}

@media(min-width: 768px) {
    .md\:pl-0 {
        padding-left: 0 !important;
    }
    .md\:pr-0 {
        padding-right: 0 !important;
    }
    .md\:ml-4 {
        margin-left: 1rem;
    }
    .md\:ml-8 {
        margin-left: 2rem;
    }
    .md\:items-flex-end {
        align-items: flex-end !important;
    }
}

.left-auto {
    left: auto !important;
}

.right-0 {
    right: 0;
}

.flex-row-reverse {
    flex-direction: row-reverse!important
}


/* 主题色 */
:root {
    --color-eureka: #fa233b;
    --color-primary-bg: rgba(255, 255, 255);
    --color-secondary-bg: rgba(255, 255, 255, 0.72);
    --color-tertiary-bg: rgba(250, 248, 248, 1);
}
.dark {
    --color-eureka: #fa2d48;
    --color-primary-bg: rgba(31, 31, 31);
    --color-secondary-bg: rgba(29, 29, 31, 0.72);
    --color-tertiary-bg: rgba(46, 44, 44, 1);
}

/* scrollbar 样式 */
body::-webkit-scrollbar { width: 12px; }
body::-webkit-scrollbar-track { background-color: transparent; }
body::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    padding-top: 80px;
    background-color: rgba(120, 120, 120, 0.72);
    border: 3px solid transparent;
    border-radius: 6px
}
body:hover::-webkit-scrollbar-thumb { background-color: rgba(160, 160, 160, 0.72); }
html.dark body::-webkit-scrollbar-thumb { background-color: rgba(160, 160, 160, 0.72); }
html.dark body:hover::-webkit-scrollbar-thumb { background-color: rgba(115, 115, 115, 0.72); }


/* navbar和部分上层窗口的毛玻璃效果 */
.bg-secondary-bg {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

/* 文章卡片分隔线 */
*, ::before, ::after { border-color: rgb(200, 200, 200); }
.dark *, ::before, ::after { border-color: rgb(90, 90, 90); }

/* 排版微调 */
.text-xl .text-2xl .text-3xl { letter-spacing: .012em; }

.content { letter-spacing: .012em; line-height: 1.9; font-weight: 300; }
.content strong { font-weight: 700; }
.text-tertiary-text { font-size: 0.9rem; margin-bottom: .5rem!important; }

/* 细节调整 */
header #navbar-btn { outline: none; }
#pages>div>.py-6 .content+.text-tertiary-text svg { display: none; } /* 不喜欢时间前的图标 */


#article>.content>figure {
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

/* 正文图片边框 */
#article img[alt="Featured Image"],
#article>.content>p>img,
#article>.content>p>video, 
#article>.content>figure>img { border: solid 6px white; }

/* 图片注释 */
#article>.content>figure>figcaption>h4 {
    display: block;
    margin-top: -6px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-top: solid 4px white;
    border-bottom: solid 4px white;
    background-color: white;
    color: black;
    text-align: center;
    line-height: 1rem;
    font-size: 0.8rem;
    font-weight: 400;
}

/* 部分图片为不同的颜色模式准备了不同版本 */
img.d-color-scheme-light { display: unset; }
img.d-color-scheme-dark { display: none; }
html.dark img.d-color-scheme-light { display: none; }
html.dark img.d-color-scheme-dark { display: unset; }

/* 文章标题和文章内超链接样式 */
/* 重置颜色、下划线，加入动画 */
.hover\:text-eureka-highlight, .content a {
    color: unset !important;
    text-decoration: none !important;
    transition: all .3s cubic-bezier(0.71,0,0,0.99);
}
/* 文章内超链接有下划线样式 */
.content a {
    box-shadow: inset 0 -0.1em 0 var(--color-eureka);
}
/* 重置浅色模式下hover颜色、添加hover样式 */
.hover\:text-eureka-highlight:hover, .content a:hover {
    color: white !important;
    box-shadow: inset 0 -1.4em 0 var(--color-eureka);
}
/* 重置深色模式下hover文字颜色 */
html.dark .hover\:text-eureka-highlight:hover, html.dark .content a:hover {
    color: unset !important;
}

html:not([class*="rwl-exempt"]) ::selection { background: rgb(180, 180, 180) !important; }
html:not([class*="rwl-exempt"]) ::-moz-selection { background: rgb(180, 180, 180) !important; }
html:not([class*="rwl-exempt"]) ::-webkit-selection { background: rgb(180, 180, 180) !important; }
html.dark :not([class*="rwl-exempt"]) ::selection { background: rgb(121, 114, 114) !important; }
html.dark :not([class*="rwl-exempt"]) ::-moz-selection { background: rgb(121, 114, 114) !important; }
html.dark :not([class*="rwl-exempt"]) ::-webkit-selection { background: rgb(121, 114, 114) !important; }


/* mark 标签样式，selection 时 mark a 样式 */
mark { color: white; background-color: var(--color-eureka); }
mark::selection { background-color: var(--color-eureka) !important; }
a::selection { color: var(--color-eureka) !important; }

/* 更换代码字体 */
.content code {
    font-family: Cascadia Code, Noto Sans SC;
    font-variant-ligatures: none;
}
/* 统一数学公式的CJK字体 */
.katex {
    font: normal 1.21em KaTeX_Main,Lora, Noto Serif SC, serif !important;
}