.content {
  @apply text-primary-text leading-normal break-words;
}

.content > * {
  @apply mb-4;
}

.content li + li {
  @apply mt-1;
}

.content li > p + p {
  @apply mt-6;
}

.content strong {
  @apply font-semibold;
}

.content a {
  @apply text-eureka;
}

.content a:hover {
  @apply text-eureka underline;
}

.content strong a {
  @apply font-bold;
}

.content h1 {
  @apply leading-tight border-b text-4xl font-semibold mb-4 mt-6 pb-2;
}

.content h2 {
  @apply leading-tight border-b text-2xl font-semibold mb-4 mt-6 pb-2;
}

.content h3 {
  @apply leading-snug text-lg font-semibold mb-4 mt-6;
}

.content h4 {
  @apply leading-none text-base font-semibold mb-4 mt-6;
}

.content h5 {
  @apply leading-tight text-sm font-semibold mb-4 mt-6;
}

.content h6 {
  @apply leading-tight text-sm font-semibold text-secondary-text mb-4 mt-6;
}

.content blockquote {
  @apply text-base border-l-4 border-tertiary-text pl-4 pr-4 text-secondary-text;
}

.content code {
  @apply font-mono text-sm text-tertiary-text inline bg-tertiary-bg rounded p-1;
}

.content pre {
  @apply bg-tertiary-bg rounded p-4;
}

.content pre code {
  @apply block bg-transparent p-0 overflow-auto rounded-none;
}

.content ul {
  @apply text-base pl-8 list-disc;
}

.content ol {
  @apply text-base pl-8 list-decimal;
}

.content kbd {
  @apply text-xs inline-block rounded border p-1 align-middle font-normal font-mono shadow;
}

.content table {
  @apply block text-base border-secondary-text overflow-auto;
}

.content th {
  @apply border py-1 px-3;
}

.content td {
  @apply border py-1 px-3;
}

.content .katex {
  @apply overflow-x-auto overflow-y-hidden;
}

.content .katex * {
  @apply border-primary-text;
}

.content *:target {
  padding-top: 4rem;
  margin-top: -4rem;
}


