<nav class="flex items-center justify-between flex-wrap p-4">
    <div class="flex items-center flex-shrink-0 text-eureka hover:text-black mr-6">
        <a href="/" class="font-semibold text-xl tracking-tight">{{ .Site.Title }}</a>
    </div>
    <div class="block md:hidden">
        <button
            class="flex items-center px-3 py-2 border rounded text-black border-black hover:text-eureka hover:border-primary">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <title>Menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
            </svg>
        </button>
    </div>
    <div class="w-full block flex-grow md:flex md:items-center md:w-auto">
        <div class="text-sm md:flex-grow">
            {{ range .Site.Menus.main }}
            <a href="{{ .URL }}"
                class="block mt-4 md:inline-block md:mt-0 text-black hover:text-eureka mr-4">{{ .Name }}</a>
            {{ end }}
        </div>
        <div>
            <a href="#"
                class="inline-block text-sm px-4 py-2 leading-none border rounded text-black border-black hover:border-transparent hover:text-white hover:bg-primary mt-4 md:mt-0">Download</a>
        </div>
    </div>
</nav>