<div class="flex flex-col-reverse lg:flex-row justify-between">
    <div>
        <div class="my-2">
            <div class="font-bold text-xl text-primary-text mb-4"><a href="{{ .RelPermalink }}"
                    class="hover:text-eureka">{{ .Title }}</a></div>
            <div class="content">
                {{ .Summary | plainify }}
            </div>
        </div>
        {{ partial "post_metadata.html" . }}
    </div>
    {{ $img := partial "featured_image.html" . }}
    {{ with $img }}
    <div class="lg:max-w-xs mb-4 lg:mb-0 lg:ml-8">
        <img src="{{ . }}" class="w-full" alt="Featured Image">
    </div>
    {{ end }}
</div>