{{ $img := (.Resources.ByType "image").GetMatch "*avatar*" }}
{{ if $img }}
<img src="{{ $img.RelPermalink }}" class="w-full rounded-full" alt="Avatar">
{{ else if .Params.avatar }}
{{ if or (hasPrefix .Params.avatar "http://") (hasPrefix .Params.avatar "https://") }}
{{ $img = .Params.avatar }}
{{ else }}
{{ $imgPath := path.Join "img" .Params.avatar }}
{{ $img = $imgPath | relURL }}
{{ end }}
<img src="{{- $img -}}" class="w-full rounded-full" alt="Avatar">
{{ else }}
<i class="fas fa-user-circle fa-6x"></i>
{{ end }}