<div class="bg-secondary-bg rounded overflow-hidden hover:shadow-lg transition ease-in-out duration-200">
    {{ $featured := partial "get_featured" . }}
    {{ with $featured }}
    {{ . }}
    {{ end }}
    <div class="px-6 pt-6">
        <div class="font-bold text-xl text-primary-text mb-2">
            <a href="{{ .Permalink }}" class="hover:text-eureka">{{ .LinkTitle }}</a>
        </div>
        <div class="">
            {{- .Summary | plainify -}}
        </div>
    </div>
    <div class="px-6 pb-2">
        {{ partial "post_metadata.html" . }}
    </div>
</div>