{{ $video := partial "utils/get-video" (dict "context" . "url" .Params.featuredVideo "keyword" "*featured*") }}
{{ $isCarousel := "" }}
{{ if isset .Params "featuredImage" }}
{{ $isCarousel := .reflect.isSlice .Params.featuredImage }}
{{ end }}
{{ $featured := ""}}

{{ if $video }}
{{ $featured = $video }}
{{ else if $isCarousel }}
{{ partial "components/carousel" .Params.featuredImage }}
{{ $featured := first 1 .Params.featuredImage }}
{{ else }}
{{ $image := partial "utils/get-image" (dict "context" . "url" .Params.featuredImage "keyword" "*featured*") }}
{{ $featured := $image }}
{{ if $image }}
<img src="{{ $image }}" class="w-full" alt="Featured Image">
{{ end }}
{{ end }}
{{ return $featured }}
